:root {
  --dark-blue-intro-signup: hsl(217, 28%, 15%);
  --dark-blue-main: hsl(218, 28%, 13%);
  --dark-blue-footer: hsl(216, 53%, 9%);
  --dark-blue-testimonials: hsl(219, 30%, 18%);
  --cyan: hsl(176, 68%, 64%);
  --blue: hsl(198, 60%, 50%);
  --white: hsl(0, 0%, 100%);
  --red: hsl(0, 100%, 63%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: var(--dark-blue-main);
  font-family: "Open Sans", sans-serif;
  line-height: 1;
  font-size: 1.4rem;
  font-weight: 400;
  color: hsl(0, 0%, 100%);
}

.heading,
.cta,
.header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-weight: 4rem;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
}

.heading {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
}

.btn:link,
.btn:visited {
  width: 28rem;
  padding: 2rem;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--white);
  text-decoration: none;
  text-align: center;
  background: linear-gradient(90deg, var(--cyan) 0%, var(--blue) 100%);
  border: none;
  border-radius: 28px;
}

.btn:hover,
.btn:active {
  background: var(--cyan);
}
