/* 
-----------------------------------
  HEADER
----------------------------------- 
*/

.header {
  max-width: 144rem;
  padding: 6rem 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 4rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  font-size: 1.6rem;
  color: var(--white);
  text-decoration: none;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  font-weight: 700;
  border-bottom: 1px solid var(--white);
}

/* 
-----------------------------------
  HERO
----------------------------------- 
*/

.section-hero {
  max-width: 72rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  text-align: center;
  line-height: 1.6;
  padding: 0 6rem;
}
